{% extends 'network/layout.html' %}
{% block body %}
    <div class="container my-4">
        <div class="row mb-3">
            <div class="col-2">
                <img class='img-fluid rounded-circle' src="{{profile.image.url}}" alt="profile picture">
                {% if user == profile.user %}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Change Picture
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form class="form-control" enctype='multipart/form-data' method="post">{% csrf_token %}
                                <div class="modal-body">
                                    {{form}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" name="profile_pic_update">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                {% endif %}


            </div>
            <div class="col-10">
                <h2>{{profile.user.username}}</h2>
                <p class="text-muted">joined: {{profile.joined|date:"j F Y"}}</p>
                <p class="text-muted">
                    Follows:
                    <span class="badge bg-light text-dark">{{profile.follows_count}}</span>
                    Followers:
                    <span class="badge bg-light text-dark">{{profile.followers_count}}</span></p>
                {% if user != profile.user %}
                    <form method="post">{% csrf_token %}
                        {% if profile.user in user.profile.followed.all %}
                            <button class="btn btn-outline-primary btn-sm" type="submit" name="unfollow">Unfollow</button>
                        {% else %}
                            <button class="btn btn-outline-primary btn-sm" type="submit" name="follow">Follow</button>
                        {% endif %}

                    </form>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'network/post.html' %}
            </div>
        </div>
    </div>

{% endblock %}
